li.dropdown-submenu .caret {
	position: absolute;
	right: 10px;
	top: 40%;
}
li.dropdown-submenu .dropdown-menu {
	position: initial;
	border: none;
	padding: 0;
	margin-top: 0;
	min-width: 0;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
}
li.dropdown-submenu .dropdown-menu a {
	padding-left: 30px;
}
li.dropdown-submenu.submenu-open .caret {
	border-top: none;
	border-bottom: 4px dashed;
}
.board-dropdown .dropdown-menu>li>a {
	color: #777;
	position: relative;
}
.board-dropdown .dropdown-menu>li>a:hover {
	color: #333;
}

.board-description {
	color: #666;
	margin-top: 0;
	margin-left: 15px;
}

.post-list div {
	border-bottom: 1px solid #cceeff;
	border-radius: 5px;
	padding-left: 3px;
	padding-bottom: 3px;
	margin-bottom: 3px;
	color: #666;
}
.post-list div:first-child {
	border-top: 1px solid #cceeff;
	padding-top: 3px;
}
.post-list .post-subject {
	display: block;
}
div.post-list .btn {
	color: #777;
	margin-top: -5px;
}
div.post-list .btn:hover {
	color: #333;
}

.post-meta {
	text-align: right;
	padding: 3px;
	font-style: italic;
	color: #666;
}
.post-wrapper {
	border: 1px solid #cceeff;
	box-shadow: 0 0 15px #cceeff;
	padding: 5px 8px;
	margin-bottom: 8px;
	border-radius: 5px;
}
.post-wrapper p:last-child {
	margin-bottom: 0;
}

.post-tree div div {
	margin-left: 10px;
	padding-left: 2px;
}

.board_list {
	list-style: none;
	padding-left: 0;
	color: #666;
}
.board_list li {
	display: block;
	padding-left: 3px;
}
.board_list li li {
	margin-left: 10px;
}
.board_list a {
	display: block;
}

