{% extends 'base.html' %}
{% load static from staticfiles %}
{% load form_extras %}

{% block header %}
Create Character
{% endblock header %}

{% block content %}
<div class="alert alert-danger">{{ form.non_field_errors }}</div>
<form action="" method="post" class="form-label-col-2">
	{% csrf_token %}
	{% bs_field form.name %}
	{{ form.name.errors }}
	{% bs_field form.age %}
	{{ form.age.errors }}
	{% bs_field form.appearance %}
	{{ form.appearance.errors }}
	<button class="btn btn-success" type="submit">Create</button>
	{{ form.owner.errors }}
</form>
{% endblock content %}
