{% extends 'base.html' %}
{% load static from staticfiles %}
{% load frontend_extras %}

{% block header %}
{{ character.name }}
{% endblock header %}

{% block content %}
<a class="btn btn-default" href="{% url 'tools:character_edit' pk=character.id %}">Edit</a>
<div>
	Age: {{ character.age|default:'-' }}
</div>
<div>
	Appearance: {{ character.appearance|default:'-' }}
</div>
<div class="character-notes">
	{% for notes in character.characternotesanswer_set.all %}
	<div class="character-note">
		<div class="character-note-question">
			{{ notes.question.question }}
		</div>
		<div class="character-note-answer">
			{{ notes.answer }}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}
