{% extends 'base.html' %}
{% load static from staticfiles %}
{% load frontend_extras %}

{% block header %}
Your Stories
{% endblock header %}

{% block content %}
<div class="table-responsive">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Title</th>
				<th>Genre</th>
				<th>Synopsis</th>
			</tr>
		</thead>
		<tbody>
			{% for story in stories %}
			<tr>
				<td>{{ story.title }}</td>
				<td>Sci-Fi</td>
				<td>A story about…</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="3">
					<em>You haven't created any stories yet!</em>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<a class="btn btn-default btn-sm" href="{% url 'tools:character_create' %}">New Story</a>
{% endblock content %}
