{% extends 'base.html' %}

{% block title %}
Alaska Writers Events
{% endblock title %}

{% block header %}
Alaska Writers Events
{% endblock header %}

{% block content %}
{# Note: May need to alter CSP to embed an iframe here #}
<div class="calendar">
	{% for week in calendar %}
	{% with firstweek=forloop.first %}
	<div class="calendar-week">
		{% for adate in week %}
		<div class="calendar-day{% if adate.date.month != today.date.month %} calendar-othermonth{% endif %}">
			<div class="day-label">
				{% if adate.date.day == 1 or firstweek and forloop.first %}
				{{ adate.date|date:'M' }}
				{% endif %}
				{{ adate.date.day }}
			</div>
			{% for event in adate.events %}
			<div class="event {{ event.css_class }}"><span class="label">{{ event.summary }}</span></div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	{% endwith %}
	{% endfor %}
</div>
{% endblock content %}
