{% extends 'base.html' %}
{% load frontend_extras %}
{% load static from staticfiles %}

{% block title %}
Alaska Writers Events
{% endblock title %}

{% block header %}
Alaska Writers Events
{% endblock header %}

{% block content %}
<div class="calendar">
	<div class="calendar-controls">
		<div class="label">Toggle Calendars:</div>
		{% for gcal in gcals %}
		<div class="gcal-control {{ gcal.css_class }}" data-target="{{ gcal.css_class }}">
			{{ gcal.name }}
		</div>
		{% endfor %}
	</div>
	<div class="calendar-header">
		<div class="month-header text-center">
			<a class="month-control" title="Previous Month" href="{% url 'events:index' year=last_month|date:'Y' month=last_month|date:'m' %}">{% octicon 'chevron-left' %}</a>
			<h3>{{ current_month|date:'F Y' }}</h3>
			<a class="month-control" title="Next Month" href="{% url 'events:index' year=next_month|date:'Y' month=next_month|date:'m' %}">{% octicon 'chevron-right' %}</a>
		</div>
		<div class="calendar-day">
			Sunday
		</div>
		<div class="calendar-day">
			Monday
		</div>
		<div class="calendar-day">
			Tuesday
		</div>
		<div class="calendar-day">
			Wednesday
		</div>
		<div class="calendar-day">
			Thursday
		</div>
		<div class="calendar-day">
			Friday
		</div>
		<div class="calendar-day">
			Saturday
		</div>
	</div>
	{% for week in calendar %}
	{% with firstweek=forloop.first %}
	<div class="calendar-week">
		{% for adate in week %}
		<div class="calendar-day{% if adate.date.month == current_month.month %} calendar-currentmonth{% endif %}">
			<div class="day-label">
				{% if adate.date.day == 1 or firstweek and forloop.first %}
				{{ adate.date|date:'F' }}
				{% endif %}
				{{ adate.date.day }}
			</div>
			{% for event in adate.events %}
			<div
				class="event {{ event.css_class }}"
				data-toggle="modal"
				data-summary="{{ event.summary }}"
				data-date="{{ event.start_date|date:'D, j M' }}"
				{% if event.start_time %}
				data-time="{{ event.start_time|date:'P' }} until {{ event.end_time|date:'P' }}"
				{% endif %}
				data-where="{{ event.location }}"
				data-target="#event-modal"
				data-container="body"
				title="{{ event.summary }}">
				<span class="label">{{ event.summary }}</span>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	{% endwith %}
	{% endfor %}
</div>

<div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="#event-modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="event-modal-label">Event Details</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-4 text-right">When</div>
					<div class="col-sm-8" id="event-modal-when">foobar</div>
				</div>
				<div class="row">
					<div class="col-sm-4 text-right">Location</div>
					<div class="col-sm-8" id="event-modal-where">foobar</div>
				</div>
				<div class="row">
					<div class="col-sm-4 text-right">Details</div>
					<div class="col-sm-8" id="event-modal-desc">foobar</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}

{% block extrascripts %}
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}
