ul.errorlist {
	margin: 0;
	list-style: none;
	color: #a94442;
}
/* Make sure our Markdown Editor also gets styled for errors */
.errorlist+p textarea,
.errorlist+p .md-editor {
	border-color: #a94442;
}
.errorlist+p .md-editor.active {
	border-color: #843534;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
}

nav.navbar, footer {
	background-color: #CCEEFF;
	background-image: none;
	border-color: #BBDDEE;
	margin-bottom: 0;
}
nav.navbar.navbar-subnav {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: -1px;
}
nav.navbar .dropdown-menu {
	background-color: #CCEEFF;
}
nav.navbar .dropdown-menu li a:hover {
	background-color: #BBDDEE;
	background-image: none;
}
nav.navbar .navbar-nav>.dropdown.open>a,
nav.navbar .navbar-nav>.dropdown.open>a:hover {
	background-color: #bde;
	background-image: none;
}

html {
	min-height: 100%;
	position: relative;
	padding-bottom: 125px;
}

body {
}

div#alert-container {
	position: fixed;
	right: 0px;
	z-index: 1;
	padding: 3px;
}

#alert-container .alert {
	margin: 0;
	position: relative;
}

#alert-container .alert-dismissible .close {
	position: absolute;
	top: 2px;
	right: 2px;
}

#site_content {
	background-color: #FFFFFF;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0px;
	font-size: 0.8em;
	padding: 1em;
	text-align: center;
}

div#passwordless-faq {
	padding-top: 15px;
}

[data-toggle=modal], [data-toggle=collapse] {
	cursor: pointer;
}

blockquote {
	border-left: 10px solid #cceeff;
	margin: 15px 10px;
	padding: 5px 10px;
	font-size: 14px;
}
blockquote:before,blockquote:after {
	color: #bde;
	font-size: 50px;
	line-height: 0px;
	vertical-align: -20px;
}
blockquote:before {
	content: open-quote;
}
blockquote:after {
	content: close-quote;
}
blockquote p:first-child, blockquote p:last-child {
	display: inline;
}
.modal-body blockquote, .modal-body table.table {
	margin: 0;
}

.panel-resources img {
	border-radius: 5px;
}

/* Form styles */
form.form-label-col-2 div.input-group {
	width: 100%;
}
form.form-label-col-2 div.input-group label {
	width: 16.66666667%;
}
label {
	display: block;
}
input, textarea {
	padding: 6px 12px;
	display: block;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #ccc;
}
input:focus, textarea:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.helptext {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373;
}

/* Character notes */
div.character-controls {
	float: right;
}
div.character-notes {
	padding: 0;
}
div.character-note {
	padding: 10px 0;
}
div.character-notes div.character-note-question {
	font-weight: bold;
}

/* Magical pure-CSS loading animation */
.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid blue;
	/*border-bottom: 5px solid blue;*/
	width: 60px;
	height: 60px;
	margin: 30px auto;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Calendar styles */
div.calendar-controls {
	float: right;
	margin-right: 2%;
	margin-bottom: 20px;
	position: relative;
}
div.calendar-controls div.label {
	position: absolute;
	top: -12px;
	color: darkgray;
	left: 10px;
	padding: 0;
	margin: 0;
}
div.calendar-controls div.gcal-control {
	display: inline-block;
	padding: 0 15px;
	border: 1px solid darkgray;
	border-radius: 15px;
	line-height: 25px;
	transition: background-color 500ms, color 500ms, border-color 500ms;
	margin: 0;
	cursor: pointer;
}
div.calendar-controls div.gcal-control.gcal-control-disabled {
	background-color: transparent;
	color: gray;
}
div.calendar-header .month-control {
	display: inline-block;
	padding-left: 8px;
	font-size: 125%;
}
div.calendar-header h3 {
	display: inline-block;
	margin: 0 0 15px;
	width: 175px;
}
div.calendar-header, div.calendar-week {
	clear: both;
}
div.calendar div.calendar-day {
	display: inline-block;
	margin: 0px;
	border: 1px solid black;
	border-collapse: collapse;
	width: 14.2%;
	height: 108px;
	overflow: hidden;
	float: left;
	margin-left: -1px;
	margin-top: -1px;
	position: relative;
}
div.calendar-day div.more-events {
	position: absolute;
	height: 22px;
	bottom: 0px;
	width: 100%;
	background-color: white;
	color: darkgray;
	text-align: right;
	font-style: italic;
	padding-right: 8px;
	display: none;
}
div.calendar-day div.more-events:nth-child(n+7) {
	display: block;
}
div.calendar div.calendar-today {
	background-color: lightcyan;
}
div.calendar div.calendar-header div.calendar-day {
	height: auto;
	text-align: center;
	font-weight: bold;
	border: none;
}
div.calendar-week div.calendar-day {
	color: #aaa;
}
div.calendar-week div.calendar-day.calendar-currentmonth {
	color: #000;
}
div:not(.calendar-week)+div.calendar-week div.calendar-day:first-child {
	border-top-left-radius: 10px;
}
div:not(.calendar-week)+div.calendar-week div.calendar-day:last-child {
	border-top-right-radius: 10px;
}
div.calendar-week:last-child div.calendar-day:first-child {
	border-bottom-left-radius: 10px;
}
div.calendar-week:last-child div.calendar-day:last-child {
	border-bottom-right-radius: 10px;
}
div.day-label {
	text-align: right;
	padding: 1px 5px 0 0;
	margin: 0;
}
div.event {
	margin: 0 2px 1px;
	border-radius: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.event span.label {
	color: inherit;
}
div.modal-backdrop+div.modal-backdrop {
	z-index: 1045;
}
div#date-modal {
	z-index: 1043;
}
div#date-modal .modal-body {
	padding: 0;
}
div#date-modal span.label {
	font-size: 115%;
	font-weight: normal;
	line-height: initial;
}
.date-events-container {
	padding: 3px 15px;
}
.date-events-container::before {
	display: block;
	content: attr(data-name);
	text-align: center;
}
div.date-events-container .event {
	border-radius: 15px;
	padding: 3px 10px;
	margin-bottom: 5px;
}
div.date-events-container .event:last-child {
	margin-bottom: 0;
}
.date-events-container:empty {
	display: none;
}
div#event-modal .modal-subheader {
	border-bottom: 1px solid #e5e5e5;
	padding: 15px;
}
div#event-modal div#event-desc:empty {
	display: none;
}
#event-where {
	display: inline-block;
	margin: 0;
}
#event-where:not(:empty)::before {
	content: "at ";
}
#event-modal .modal-body {
	white-space: pre-line;
}
.modal-body:empty~.modal-footer {
	border-top: none;
}

/* Override hard-coded Octicons font-size */
span.octicon {
	font-size: 115%;
}

.chat-protocol {
	margin-top: -4px;
	margin-right: 2px;
}

#password_container {
	margin:30px 0;
}
#password {
	color: #666666;
}
#password_copied, #password_error {
	display: none;
}

/* Fix the rounded corners on the captcha field */
#id_captcha_0 {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
