ul.errorlist {
	margin: 0;
	list-style: none;
}

nav.navbar.navbar-fixed-top, footer {
	background-color: #CCEEFF;
	background-image: none;
	border-color: #BBDDEE;
}

html {
	min-height: 100%;
	position: relative;
	padding-bottom: 125px;
}

body {
	padding-top: 50px;
}

div#alert-container {
	position: fixed;
	right: 0px;
	z-index: 1;
	padding: 3px;
}

#alert-container .alert {
	margin: 0;
	position: relative;
}

#alert-container .alert-dismissible .close {
	position: absolute;
	top: 2px;
	right: 2px;
}

#site_content {
	background-color: #FFFFFF;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0px;
	font-size: 0.8em;
	padding: 1em;
	text-align: center;
}

/* Magical pure-CSS loading animation */
.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid blue;
	/*border-bottom: 5px solid blue;*/
	width: 60px;
	height: 60px;
	margin: 30px auto;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Calendar styles */
div.calendar-controls {
	float: right;
	margin-right: 2%;
	margin-bottom: 20px;
}
div.calendar-controls div.gcal-control {
	display: inline-block;
	padding: 0 15px;
	border: 1px solid darkgray;
	border-radius: 13px;
	line-height: 25px;
	transition: background-color 500ms, color 500ms, border-color 500ms;
	margin: 0;
	cursor: pointer;
}
div.calendar-controls div.gcal-control.gcal-control-disabled {
	background-color: transparent;
	color: gray;
}
div.calendar-header, div.calendar-week {
	clear: both;
}
div.calendar div.calendar-day {
	display: inline-block;
	margin: 0px;
	border: 1px solid black;
	border-collapse: collapse;
	width: 14.2%;
	height: 104px;
	overflow: hidden;
	float: left;
	margin-left: -1px;
	margin-top: -1px;
	position: relative;
}
div.calendar div.calendar-header div.calendar-day {
	height: auto;
	text-align: center;
	font-weight: bold;
	border: none;
}
div.calendar div.calendar-day.calendar-othermonth {
	color: #aaa;
}
div.day-label {
	text-align: right;
	padding: 1px 2px 0 0;
	margin: 0;
}
div.calendar-day div.event {
	margin-bottom: 1px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.calendar-day div.event span.label {
	color: inherit;
}
div.event-anc {
	background-color: lightgreen;
	color: black;
}
div.event-fbx {
	background-color: darkorchid;
	color: white;
}
div.event-els {
	background-color: lightblue;
	color: black;
}

/* Override hard-coded Octicons font-size */
span.octicon {
	font-size: 115%;
}

.chat-protocol {
	margin-top: -4px;
	margin-right: 2px;
}

#password_container {
	margin:30px 0;
}
#password {
	color: #666666;
}
#password_copied, #password_error {
	display: none;
}

/* Fix the rounded corners on the captcha field */
#id_captcha_0 {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
