{% load static from staticfiles %}
{% load chat_extras %}
<p>
<a href="https://adium.im/" target="_blank">Adium</a> is our recommended chat
client for Mac users.
</p>

<h3>Setting up Adium</h3>
<p>
Once you have <a href="https://adium.im/" target="_blank">downloaded</a>
and installed Adium, add a new account by opening the File menu, going to the
Add Account sub-menu, and choosing {% prosody_proto %} (Jabber).
</p>
<div class="pull-right">
	<img src="{% static 'chat/img/adium_setup.png' %}" alt="Setup Adium" class="img-responsive" />
</div>
<p>
To configure your account, set your options as so:
<ol>
	<li>Jabber ID: <span class="text-danger">{{ user.username|default:"<em>Your username</em>" }}</span>@{% prosody_domain %}</li>
	<li>Password: <em class="text-danger">The <a class="text-danger" href="{% url 'auth:apppasswords' %}">App Password</a> you generated.</em></li>
</ol>
</p>
<p>
Under Personal, give yourself an alias; this only shows up to you, and
identifies your own messages. I like to set it to "Me".
</p>
<p>
Now click the OK button to finish and connect to the server.
</p>

