<p>
Annika is our friendly local chat bot.
</p>

<h3>Sending Annika Commands</h3>
<p>
There are two ways to send commands to Annika:
<ul>
	<li>In a single-user chat, simply say the command (e.g. "plot bunny")</li>
	<li>In a group chat, start with her name (e.g. "annika, plot bunny")</li>
</ul>
When interacting with her in a group chat, she will also respond to the nickname
"Annie", e.g. "annie, plot bunny".
</p>

<h3>Useful Commands</h3>
<p>
Here is a quick rundown of some of her more useful commands to help you in
reaching 50,000 words:
</p>
<dl class="dl-horizontal">
	<dt>arcanobabble</dt><dd>Random arcanobabble</dd>
	<dt>divination</dt><dd>Get a random kind of divination (e.g. chiropteromancy)</dd>
	<dt>diviner</dt><dd>Get a random kind of diviner (e.g. chiropteromancer)</dd>
	<dt class="text-primary">invite me</dt><dd class="text-primary">Annika will invite you the Nano group chat room (non-Web Chat users)</dd>
	<dt>plot bunny</dt><dd>Get a random plot bunny</dd>
	<dt>plot ninja</dt><dd>Get a random plot ninja</dd>
	<dt>random name</dt><dd>Get a random name</dd>
	<dt>random job</dt><dd>Alias of "random profession"</dd>
	<dt>random profession</dt><dd>Get a random profession</dd>
	<dt>technobabble</dt><dd>Random technobabble generator</dd>
</dl>
<p>
You can also specify a name when asking for a plot bunny (e.g. "annika, plot
bunny bob") to have that name inserted into her response (e.g. "Bob is out
driving when the car stops running."). Also, when asking for a random name,
Annika is pretty good at figuring out if you're asking for a male or female
name: "random name male", "random male name", "random name man", "random man
name" &mdash; these examples would all provide a man's name in her response.
You can of course leave out the gender to get a randomly picked name of either.
</p>
