<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Joining the Chatroom</h3>
	</div>
	<div class="panel-body">
		<p>
		When you log in for the first time,
		<a href="#annika" data-toggle="collapse" aria-expanded="false" aria-controls="annika" data-parent="#accordion">Annika</a>
		will ask you to be her friend. She's here to be helpful, and can make
		joining the group chat a lot easier. After you accept her request, you
		can say "<strong class="text-primary">invite me</strong>" to her, and
		she'll send you an invitation to join the group chat room.
		</p>
	</div>
</div>
