<!DOCTYPE html>
<html lang="en">
<head>
	{% load static from staticfiles %}
	{% load chat_extras %}
	<meta charset="utf-8">
	<title>Alaska Writers Chat</title>
	<link rel="shortcut icon" href="{% static 'candy/res/img/favicon.png' %}" type="image/gif" />
	<link rel="stylesheet" type="text/css" href="{% static 'candy/res/default.css' %}" />

	<script type="text/javascript" src="{% static 'jquery/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'candy/js/libs.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'candy/js/candy.min.js' %}"></script>
	{# Plugins #}
	<script type="text/javascript" src="{% static 'candy/candyshop/emphasis/candy.js' %}"></script>
	<script type="text/javascript" src="{% static 'candy/candyshop/notifyme/candy.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'candy/candyshop/notifyme/candy.css' %}" />
	<script type="text/javascript" src="{% static 'candy/candyshop/notifications/candy.js' %}"></script>
	<script type="text/javascript" src="{% static 'candy/candyshop/me-does/candy.js' %}"></script>

	<script src="{% static 'chat/start-candy.js' %}"></script>
</head>
<body>
<div id="candy"
	data-jid="{{ user.jid }}"
	data-nick="{{ user.username }}"
	data-domain="{% chat_domain %}"
	data-otp="{{ otp }}"
	data-candy-assets="{% static 'candy/res/' %}"></div>
</body>
</html>
