{% load static from staticfiles %}
{% load chat_extras %}
{% load frontend_extras %}
{% if user.is_authenticated %}
<p>
	<button type="button" class="btn btn-primary" data-popup-uri="{% url 'chat:nabu' %}">{% octicon 'comment-discussion' %} Launch Web Chat</button>
	<span class="text-info">(Opens in a new window.)</span>
</p>
{% else %}
<p>
To chat directly in your browser, you will first need to
<a href="{% url 'auth:login' %}">log into the site</a>.
</p>
{% endif %}
<p>
If you would prefer to use an app that runs natively on your device, you can
instead log into the chat server using any client that supports the
{% jabber_proto %} (aka "Jabber") protocol.
The sections below provide step-by-step instructions for our recommended
chat clients,
<a href="#pidgin" data-toggle="collapse" aria-expanded="false" aria-controls="pidgin" data-parent="#accordion">Pidgin</a>
(for Windows and Linux users) and
<a href="#adium" data-toggle="collapse" aria-expanded="false" aria-controls="adium" data-parent="#accordion">Adium</a>
(for Mac users).
For other clients, use the section below that most closely matches what yours
is asking for: username and domain follows Pidgin, while "Jabber ID" or "JID"
follows Adium. You will also need to generate an
<a href="{% url 'auth:apppasswords' %}">"App Password"</a> to use with your app.
</p>
