{% load static from staticfiles %}
{% load chat_extras %}
{% load frontend_extras %}
{% if user.is_authenticated %}
<p>
	<button type="button" class="btn btn-primary" data-popup-uri="{% url 'chat:nabu' %}">{% octicon 'comment-discussion' %} Launch Web Chat</button>
	<span class="text-info">(Opens in a new window.)</span>
</p>
{% else %}
<p>
To chat directly in your browser, you will first need to
<a href="{% url 'auth:login' %}">log into the site</a>.
</p>
{% endif %}
<p>
This year AKWriters is launching a new chat application. There may be some rough
edges still, so if you encounter any issues let Kromey know in the chat, on
<a target="_blank" href="https://nanowrimo.org/participants/kromey">NaNoWriMo's website</a>,
or in the
<a target="_blank" href="https://fairbanksnano.org">Fairbanks Nano Facebook group</a>.
You can also use the <a href="{% url 'contact:contact' %}">Contact Us</a> page on this site.
</p>
