{% load static from staticfiles %}
{% load chat_extras %}
<p>
To jump straight into the chat room, simply launch the In-Browser Chat app by
clicking on the link above. You must be logged into the site, otherwise it will
simply take you to the login page.
</p>
<p>
You can also log into the chat server using any client that supports the
{% prosody_proto %} (aka "Jabber") protocol, such as Pidgin or Adium, with the
username you selected, and the domain <em>{% prosody_domain %}</em>.
If you choose to go this route, you will need to generate an
<a href="{% url 'auth:apppasswords' %}">"App Password"</a>.
</p>
<p>
The sections below provide step-by-step instructions for our recommended
chat clients, Pidgin (for Windows and Linux users) and Adium (for Mac users).
For other clients, the sections below can still be a decent base
to start from. Generally speaking, your username will be the one you chose when
you signed up on this site, and the domain will be {% prosody_domain %} (like
with Pidgin below); if the
client you choose doesn't ask for the domain separately, or asks for a "Jabber
ID" or "JID", use the format
<em>{{ user.username|lower|default:'username' }}</em>@<em>{% prosody_domain %}</em>
(as with Adium below).
</p>
