{% extends 'base.html' %}
{% load static %}

{% block header %}
Join Our Chat Server!
{% endblock header %}

{% block content %}
<ul class="inline-list">
	<li><a href="{% url 'chat:pidgin' %}">Setup Pidgin</a></li>
	<li><a href="{% url 'chat:adium' %}">Setup Adium</a></li>
	{# <li>Meet Annika</li> #}
</ul>
{% block chatcontent %}
<p>
You can log into the chat server using any client that supports the
<img src="{% static 'img/xmpp.png' %}" alt="" style="margin-top: -5px;" width="16" height="16" />
XMPP (aka "Jabber") protocol, such as Pidgin or Adium, with the username and
password you selected, and the domain <em>{{ domain }}</em>.
</p>
<p>
Detailed setup instructions for our recommended chat programs &mdash; Pidgin on
Windows and Linux, or Adium on Mac &mdash; can be found on the pages linked
above. If you choose to use a different client, and it doesn't ask for the
"domain" separately, it probably expects to see your username (aka ID, JID,
etc.) in the form <em>{{ user.username|default:"username" }}@{{ domain }}</em>.
</p>
{% endblock chatcontent %}
{% endblock content %}
