{% extends 'base.html' %}
{% load static %}

{% block header %}
Join Our Chat Server!
{% endblock header %}

{% block content %}
<p>
For <strong>Windows and Linux</strong> users, we recommend using
<a href="{% url 'chat:pidgin' %}">Pidgin</a> to connect to the chat server. For
<strong>Mac</strong> users, check out
<a href="{% url 'chat:adium' %}">Adium</a> instead.
</p>
{% block chatcontent %}
<p>
You can log into the chat server using any client that supports the
<img src="{% static 'img/xmpp.png' %}" alt="" style="margin-top: -5px;" width="16" height="16" />
XMPP (aka "Jabber") protocol, such as Pidgin or Adium, with the ID
<em>{{ user.username|default:"username" }}@{{ domain }}</em> and the password
you chose when you signed up.
</p>
{% endblock chatcontent %}
{% endblock content %}
