{% extends 'base.html' %}
{% load static from staticfiles %}
{% load chat_extras %}
{% load frontend_extras %}

{% block header %}
AKWriters Chat
{% endblock header %}

{% block content %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading-welcome">
			<h4 class="panel-title">
				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#welcome" aria-expanded="true" aria-controls="welcome">
					Welcome
				</a>
			</h4>
		</div>
		<div id="welcome" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-welcome">
			<div class="panel-body">
				{% include 'chat/general.html' %}
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading-pidgin">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#pidgin" aria-expanded="false" aria-controls="pidgin">
					Pidgin
				</a>
			</h4>
		</div>
		<div id="pidgin" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-pidgin">
			<div class="panel-body">
				{% include 'chat/pidgin.html' %}
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading-adium">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#adium" aria-expanded="false" aria-controls="adium">
					Adium
				</a>
			</h4>
		</div>
		<div id="adium" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-adium">
			<div class="panel-body">
				{% include 'chat/adium.html' %}
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading-annika">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#annika" aria-expanded="false" aria-controls="annika">
					{% octicon 'hubot' %} Annika
				</a>
			</h4>
		</div>
		<div id="annika" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-annika">
			<div class="panel-body">
				{% include 'chat/annika.html' %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}
