{% extends 'chat/index.html' %}
{% load static %}

{% block header %}
How to Set Up Pidgin
{% endblock header %}

{% block chatcontent %}
<p>
Once you have <a href="https://pidgin.im/download/" target="_blank">downloaded</a>
and installed Pidgin, add a new account by opening the Accounts menu and
selecting Manage Accounts, and then click the "Add..." button.
</p>
<div class="right" style="margin: 3px; margin-top: -5px;">
	<img src="{% static 'img/pidgin_setup.png' %}" alt="Setup Pidgin" width="85%" />
</div>
<p>
To configure your account, set your options as so:
<ol>
	<li>Protocol: <img src="{% static 'img/xmpp.png' %}" alt="" style="margin-top: -5px;" width="16" height="16" /> XMPP</li>
	<li>Username: {{ user.username|default:"<em>Your username</em>" }}</li>
	<li>Domain: fairbanksnano.org </li>
	<li>Resource: <em>Optionally identify this location to yourself.</em></li>
</ol>
</p>
<p>
Under User Options, give yourself a Local alias; this only shows up to you, and
identifies your own messages. I like to set it to "Me".
</p>
<p>
Now click the Add button to finish and connect to the server.
</p>
<div class="right" style="margin: 3px; margin-top: -5px;">
	<img src="{% static 'img/pidgin_cert.png' %}" alt="Pidgin certificate error" width="85%" />
</div>
<p>
You may see an error about an invalid certificate. This is fine; a "real"
certificate costs a lot of money, so I'm currently using a "self-signed" one
instead. Just click the Accept button to continue connecting.
</p>

<h3>Joining the Conversation</h3>
<p>
The first time you sign in, Annika will ask to be your friend. Annika is our
chat bot, and has a growing number of useful talents. You should accept her
request, and then ask her for help (simply say "help" in a chat window with
her) to start learning what she can do to help your writing.
</p>
<p>
[Images coming soon.]
I also strongly suggest you join the Nano chat room. To do so, open your Tools
menu and select Room List. Choose your fairbanksnano.org username from the list
at the top, then click on Get List. Select the "nano" room, then click on the
"Add Chat" button to create a "bookmark" for the room in your buddy list. Now
you can quickly and easily join the room every time you sign on.
</p>
{% endblock chatcontent %}
