{% extends 'base.html' %}

{% block header %}
App Passwords
{% endblock header %}

{% block content %}
<p>
App Passwords allow you to access AK Writers services -- such as the chat server
-- through apps such as Pidgin or Adium. We'll generate the app passwords for
you, and you won't need to remember them -- your app will do that for you!
</p>
<ul>
	{% for password in object_list %}
	<li>{{ password.user.username }} (<small>{{ password.created_on }}</small>):
		<code>{{ password.password }}</code></li>
	{% endfor %}
</ul>
{% endblock content %}
