{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p>
		<h3>Your app password for {{ name }}</h3>
		<div class="alert alert-info text-center text-uppercase">
			{{ password }}
		</div>
		</p>
		<p>
		<h4>How to use it</h4>
		Go to the settings in the app you are trying to set up, and enter the 6-word
		password shown above into it. Just like a normal password this app password
		grants complete access to your account. You won't need to remember it, so don't
		write it down or share it with anyone.
		</p>
		<p class="text-right">
		<a href="{% url 'auth:apppasswords' %}" class="btn btn-primary">Done</a>
		</p>
	</div>
</div>
{% endblock content %}
