{% extends 'base.html' %}

{% block header %}
App Passwords
{% endblock header %}

{% block content %}
<p>
App Passwords allow you to access AK Writers services -- such as the chat server
-- through apps such as Pidgin or Adium. We'll generate the app passwords for
you, and you won't need to remember them -- your app will do that for you!
</p>
<table class="table table-hover">
	<tr>
		<th>Name</th>
		<th>Created</th>
		<th>Last Used</th>
		<th>Access</th>
	</tr>
	{% now 'Ymd' as today %}
	{% for password in password_list %}
	<tr>
		<td>{{ password.user.username }}</td>
		{% if password.created_on|date:'Ymd' == today %}
		<td>{{ password.created_on|time:'g:i A' }}</td>
		{% else %}
		<td>{{ password.created_on|date:'M j, Y' }}</td>
		{% endif %}
		<td>{{ password.last_used|date:'M j, Y'|default:'--' }}</td>
		<td>[Revoke]</td>
	</tr>
	{% endfor %}
</table>
{% endblock content %}
