{#{% extends 'base.html' %}#}
{% load static from staticfiles %}
{% load frontend_extras %}

{% comment %}
{% block header %}
{% endblock header %}

{% block content %}
{% endcomment %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3>Your app password for {{ name }}</h3>
		<div style="margin:30px 0;">
			<div class="input-group">
				<input id="password" type="text" value="{{ password }}" class="form-control text-center alert-success" style="color:#333;">
				<span class="input-group-btn">
					<button id="copy_password" class="btn btn-success" title="Copy Password to Clipboard" type="button" data-clipboard-target="#password">{% octicon 'clippy' %}</button>
				</span>
			</div>
			<div id="password_copied" style="display:none;" class="alert alert-success text-center">Password copied to clipboard!</div>
			<div id="password_error" style="display:none;" class="alert alert-warning text-center">Press <kbd><kbd>ctrl</kbd> + <kbd>c</kbd></kbd> on your keyboard</div>
		</div>
		<h4>How to use it</h4>
		<p>
		Go to the settings in the app you are trying to set up, and enter the 6-word
		password shown above into it. Just like a normal password this app password
		grants complete access to your account. You won't need to remember it, so don't
		write it down or share it with anyone.
		</p>
		<p class="text-right">
		<a href="{% url 'auth:apppasswords' %}" class="btn btn-primary">Done</a>
		</p>
	</div>
</div>
{% comment %}
{% endblock content %}

{% block extrascripts %}
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/newpassword.js' %}"></script>
{% endblock %}
{% endcomment %}
