{% extends 'base.html' %}
{% load static from staticfiles %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		{% include 'passwordless/apppassword_new_content.html' %}
		<p class="text-right">
		<a href="{% url 'auth:apppasswords' %}" class="btn btn-primary">Done</a>
		</p>
	</div>
</div>
{% endblock content %}

{% block extrascripts %}
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/newpassword.js' %}"></script>
{% endblock %}
