<div id="passwordless-faq">
	<a data-toggle="modal" href="#passwordless">
		Why can't I enter a password?
	</a>

	<!-- Modal -->
	<div class="modal fade" id="passwordless" tabindex="-1" role="dialog" aria-labelledby="passwordlessLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="modal-title" id="passwordlessLabel">Where's My Password?</h3>
				</div>
				<div class="modal-body">
					<p>
					Passwords can be leaked by sites in a number of ways; to avoid the risk
					of doing that ourselves, we don't use them &mdash; we can't leak what
					we never had in the first place!
					Instead, the site will send you an email with a special link that, when
					clicked, will log you in. This link:
					</p>
					<ul>
						<li>is only valid for 1 hour</li>
						<li>can only be used once</li>
						<li>can only be used in the same browser session</li>
						<li>will only be sent to the email address registered with your username</li>
					</ul>
					<h4>Is this secure?</h4>
					<p>
					Yes! Accounts are most commonly compromised because they either re-used
					a password that was leaked elsewhere, or used one that is
					easy for an attacker to guess. With the rapid proliferation of internet
					accounts we all have, it's almost impossible not to do either (or both!)
					of these things (unless you use a
					<a href="https://lastpass.com/f?4142036" target="_blank">password manager</a>
					&mdash; which you should!). We avoid contributing to the problem by
					creating a very-hard-to-guess password for you and emailing it to you
					in an easy-to-use format; all you have to do is click the link!
					</p>
					<h4>Isn't this less secure than a password?</h4>
					<p>
					No! If you think about it another way, this is no different than if you
					have forgotten your password on most sites: They send you an
					email with a special link in it that, when clicked, allows you to change
					your password. Effectively, your email is already the "gateway" into a
					lot of your online accounts anyway.
					</p>
					<h4>But isn't email insecure?</h4>
					<p>
					Yes, it is! Which is why you should never use email to send private
					information like passwords. To address this, we give the emailed
					link an expiration time, as well as "lock" it to the same browser
					session so that only you can use it.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
