{% extends 'base.html' %}
{% load form_extras %}

{% block header %}
Register
{% endblock header %}

{% block content %}
<form action="" method="post">
	<div class="row">
		<div class="col-md-6">
			{% csrf_token %}
			{% bs_field form.username 'person' 'octicon' %}
			{% bs_field form.email 'mail' 'octicon' %}
			{% bs_field form.captcha %}
		</div>
	</div>
	<button type="submit" class="btn btn-success">Register!</button>

	<div>
		Already have an account? <a href="{% url 'auth:login' %}">Login here!</a>
	</div>
	{% include 'passwordless/passwordless.html' %}
</form>
{% endblock content %}
