ul.errorlist {
	margin: 0;
	list-style: none;
}

nav.navbar.navbar-fixed-top, footer {
	background-color: #CCEEFF;
	background-image: none;
	border-color: #BBDDEE;
}

html {
	min-height: 100%;
	position: relative;
	padding-bottom: 125px;
}

body {
	padding-top: 50px;
}

#site_content {
	background-color: #FFFFFF;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0px;
	font-size: 0.8em;
	padding: 1.5em 1em;
	text-align: center;
}
