ul.errorlist {
	margin: 0;
	list-style: none;
}

header, footer {
	background-color: #CCEEFF;
}

#wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: 75px;
}

#site_content {
	background-color: #FFFFFF;
}

header li {
	background-color: #1CC7FF;
	border-bottom-left-radius:  10px;
	border-bottom-right-radius: 10px;
}

header li a {
	color: #FFFFFF;
	padding: 0.2em 0.9em 0.5em;
}

header li a:hover {
	color: #CCEEFF;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0px;
	font-size: 0.8em;
	padding: 1.5em 1em;
	text-align: center;
}
