{% extends 'base.html' %}
{% load form_extras %}

{% block header %}
Login to FairbanksNano
{% endblock header %}

{% block content %}
<div class="row">
	<div class="large-6 columns">
		<div class="signup-panel">
			<form action="" method="post">
				{% csrf_token %}
				{% fi_field form.username 'torso-female' %}
				{% fi_field form.password 'lock' %}
				<button type="submit" class="button">Login!</button>
				<p>Need an account? <a href="{% url 'auth:register' %}">Register here &raquo;</a></p>
			</form>
			<p>
				Didn't get your activation email?
				<a href="{% url 'auth:resend' %}">Request another!</a>
			</p>
		</div>
	</div>
</div>
{% endblock content %}
