{% extends 'base.html' %}
{% load form_extras %}

{% block header %}
Login
{% endblock header %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<form action="{% url 'auth:login' %}" method="post">
			{% csrf_token %}
			{% bs_field form.username 'user' %}
			{% bs_field form.password 'lock' %}
			{{ form.next_url }}
			<button type="submit" class="btn btn-success">Login!</button>
		</form>
	</div>
	<div class="col-md-6">
		<p>Need an account? <a href="{% url 'auth:register' %}">Register here &raquo;</a></p>
		<p>
			Didn't get your activation email?
			<a href="{% url 'auth:resend' %}">Request another!</a>
		</p>
	</div>
</div>
{% endblock content %}
