{% extends 'base.html' %}
{% load form_extras %}

{% block header %}
Register
{% endblock header %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<form action="{% url 'auth:register' %}" method="post">
			{% csrf_token %}
			{% bs_field form.username 'user' %}
			{% bs_field form.email 'envelope' %}
			{% bs_field form.password 'key' icon_type='octicon' %}
			<span id="password_help" class="help-block">
				Your password must:
				<ol>
					<li>Be at least 8 characters long</li>
					<li>Contain at least 2 of: Upper-case letters, lower-case letters, numbers, or punctuation</li>
					<li>Not contain your username</li>
				</ol>
			</span>
			{% bs_field form.password_confirm 'key' icon_type='octicon' %}
			{% bs_field form.captcha %}
			<button type="submit" class="btn btn-success">Register!</button>
		</form>
	</div>
	<div class="col-md-6">
		<p>Already have an account? <a href="{% url 'auth:login' %}">Login here &raquo;</a></p>
		<p>
		Didn't get your activation email?
		<a href="{% url 'auth:resend' %}">Request another!</a>
		</p>
	</div>
</div>
{% endblock content %}
