{% extends 'base.html' %}
{% load form_extras %}

{% block header %}
Register on FairbanksNano
{% endblock header %}

{% block content %}
<div class="row">
	<div class="large-6 columns">
		<div class="signup-panel">
			<form action="" method="post">
				{% csrf_token %}
				{% fi_field form.username 'torso-female' %}
				{% fi_field form.email 'mail' %}
				<div class="row collapse">
					<div class="small-12  columns">
						Your password must:
						<ol>
							<li>Be at least 8 characters long</li>
							<li>Contain at least 2 of: Upper-case letters, lower-case letters, numbers, or punctuation</li>
							<li>Not contain your username</li>
						</ol>
					</div>
				</div>
				{% fi_field form.password 'lock' %}
				{% fi_field form.password_confirm 'lock' %}
				{% fi_field form.captcha %}
				<button type="submit" class="button">Register!</button>
				<p>Already have an account? <a href="{% url 'auth:login' %}">Login here &raquo;</a></p>
			</form>
			<p>
				Didn't get your activation email?
				<a href="{% url 'auth:resend' %}">Request another!</a>
			</p>
		</div>
	</div>
</div>
{% endblock content %}
