{% load frontend_extras %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
	{% if not icon %}
	{% endif %}
	<div class="input-group">
		{% if icon %}
			<div class="input-group-addon">{% glyphicon icon %}</div>
			<label class="input-group-addon sr-only" for="{{ field.id_for_label }}">{{ field.label }}</label>
		{% else %}
			<label class="input-group-addon" for="{{ field.id_for_label }}">{{ field.label }}</label>
		{% endif %}
		{{ widget }}
	</div>
	{% if field.errors %}<span class="help-block">{{ field.errors }}</span>{% endif %}
</div>
