{% extends 'forum/base_skeleton.html' %}
{% load forum_extras %}


{% block content %}
<nav class="navbar navbar-default navbar-subnav">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#forum-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'forum:index' %}">Forum</a>
		</div>

		<div class="collapse navbar-collapse" id="forum-navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown board-dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Boards <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% include 'forum/board_block.html' with boards=board_list only %}
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
				{#<li><a href="#">My Posts</a></li>#}
				{#<li><a href="#">New Replies <span class="badge">12</span></a></li>#}
				{% else %}
				<li class="navbar-text">Login to join the conversation</li>
				{% endif %}
				{% block context_navs %}{% endblock %}
				<li>
					<form action="{% url 'forum:search' %}" method="get" class="navbar-form" id="post-search" tabindex="-1">
						<div class="form-group">
							<input type="text" name="q" placeholder="Search" value="{{ search_query }}">
						</div>
					</form>
				</li>
			</ul>
		</div>
	</div>
</nav>

{% if post %}
<div class="post-breadcrumbs">
	<ol class="breadcrumb">
		{% for ancestor in post.ancestors %}
		<li><a href="{{ ancestor.get_absolute_url }}" class="{{ ancestor.css }}">{{ ancestor.subject }}{{ ancestor.title }}</a></li>
		{% endfor %}
		<li class="active"><span class="label label-default">{{ post.subject }}</span></li>
	</ol>
</div>
{% endif %}

<div class="forum-wrapper clearfix{% if post %} post-wrapper{% endif %}">
	<h2>{% block forum_title %}{% endblock forum_title %}</h2>
	{% block forum_content %}{% endblock forum_content %}
</div>

{% if post %}{% post_tree post %}{% endif %}
{% endblock %}
