{% extends 'forum/base.html' %}
{% load frontend_extras %}

{% block forum_title %}
Viewing {{ board.title }}
{% endblock %}

{% block context_navs %}
{% if user.is_authenticated %}
<li><a href="{% url 'forum:new-topic' board=board.slug %}">{% octicon 'diff-added' %} New</a></li>
{% endif %}
{% endblock %}

{% block forum_content %}
<h3 class="board-description">{{ board.description }}</h3>
<div class="post-list">
	{% for topic in topics %}
	<div>
		<a href="{% url 'forum:post' board=board.slug pk=topic.op.pk %}" class="{{ topic.css }}">{{ topic.title }}</a>
		<br>
		Started {{ topic.date }} by {{ topic.user.username }} ({{ topic.post_count }} post{{ topic.post_count|pluralize }})
	</div>
	{% empty %}
	<div class="warning-text text-center">Looks like there's nothing here yet! Ready to start the conversation?</div>
	{% endfor %}
</div>
{% endblock %}
