{% extends 'forum/base.html' %}

{% block forum_title %}
Most Recent Posts
{% endblock %}

{% block forum_content %}
<div class="post-list">
	{% for post in recent_posts %}
	<div>
		<a href="{% url 'forum:post' board=post.topic.board.slug pk=post.pk %}" class="post-subject">{{ post.subject }}</a>
		Posted {date} in
		<a href="{% url 'forum:post' board=post.topic.board.slug pk=post.topic.op.pk %}">{{ post.topic.title }}</a>
		on
		<a href="{% url 'forum:board' slug=post.topic.board.slug %}">{{ post.topic.board.title }}</a>
		by {{ post.user.username }}
	</div>
	{% endfor %}
</div>
{% endblock %}
