{% extends 'forum/base.html' %}
{% load forum_extras %}
{% load frontend_extras %}

{% block forum_title %}{{ post.subject }}{% endblock %}

{% block context_navs %}
{% if user.is_authenticated %}
<li><a href="{% url 'forum:new-reply' board=post.topic.board.slug post=post.pk %}">{% octicon 'reply' %} Reply</a></li>
{% endif %}
{% endblock %}

{% block forum_content %}
<div class="post-meta">
	Posted {{ post.date|date:'F jS, Y, \a\t f a' }} by {{ post.user.username }}.
</div>
<div class="post-wrapper clearfix">
	<div class="post">{{ post.body.html }}</div>
</div>

{% make_tree post.topic.posts.all post %}
{% endblock %}
