{% extends 'forum/base.html' %}

{% block forum_title %}{{ title }}{% endblock %}

{% block forum_content %}
<div class="post-list">
	{% for post in posts %}
	<div>
		<a href="{% url 'forum:board' slug=post.board.slug %}" class="{{ post.board.css }}">{{ post.board.title }}</a>
		<a href="{% url 'forum:post' board=post.board.slug pk=post.pk %}" class="{{ post.css }}">{{ post.subject }}</a>{{ post.nt }}
		by <span class="author">{{ post.user.username }}</span>
		({{ post.date|date:'P N j' }})
	</div>
	{% empty %}
	<div class="text-center">
		<em>Sorry, no posts found.</em>
	</div>
	{% endfor %}
</div>
{% endblock %}
