{% extends 'base.html' %}
{% load frontend_extras %}
{% load static from staticfiles %}

{% block title %}
{{ post.subject }} - {{ post.topic.title }}
{% endblock title %}

{% block header %}
{{ post.subject }} - {{ post.topic.title }}
{% endblock header %}

{% block content %}
<div class="post">{{ post.body }}</div>

<ul>
	{% for apost in post.topic.post_set.all %}
	{% if apost.pk == post.pk %}
	<li>{% octicon 'arrow-right' %} {{ apost.subject }}<br>
	{% else %}
	<li><a href="{% url 'forum:post' board=apost.topic.board.slug pk=apost.topic.op.pk %}">{{ apost.subject }}</a><br>
	{% endif %}
	Posted {date} by {{ apost.user.username }}
	</li>
	{% endfor %}
</ul>
{% endblock %}
