{% extends 'forum/base.html' %}
{% load frontend_extras %}

{% block forum_title %}{{ post.subject }}{% endblock %}

{% block context_navs %}
{% if user.is_authenticated %}
<li><a href="{% url 'forum:new-reply' board=post.topic.board.slug post=post.pk %}">{% octicon 'reply' %} Reply</a></li>
{% endif %}
{% endblock %}

{% block forum_content %}
<div class="post-meta">
	Posted {{ post.date|date:'F jS, Y, \a\t f a' }} by <span class="author">{{ post.user.username }}</span>.
</div>
<div class="post">
	{{ post.body.html }}
	<button class="btn btn-default btn-xs" id="show-source">Show Source</button>
</div>
{# We need to be careful about newlines here because we preserve them #}
<div class="post-source">{{ post.body.markdown }}
	<button class="btn btn-default btn-xs" id="hide-source">Hide Source</button>
</div>
{% endblock %}
