{% extends 'base.html' %}
{% load form_extras %}

{% block title %}
Account Settings
{% endblock title %}

{% block header %}
Your Account <small>{{ user.username }}</small>
{% endblock header %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Change Password</h3>
			</div>
			<div class="panel-body">
				<form action="{% url 'account:settings' %}?panel=password" method="post">
					{% csrf_token %}
					{% bs_field passform.old_password 'lock' %}
					{% bs_field passform.new_password 'lock' %}
					{% bs_field passform.new_password_confirm 'lock' %}
					<button type="submit" class="btn btn-success pull-right">Change Password</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Change Email</h3>
			</div>
			<div class="panel-body">
				...coming soon?
			</div>
		</div>
	</div>
</div>
{% endblock content %}
