{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
{# The following meta tags *must* come before all other head content #}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{# The preceding meta tags *must* come before all other head content #}

<title>{% block title %}FairbanksNano Chat{% endblock %}</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
{#<link rel="stylesheet" href="{% static 'css/site.css' %}" />#}

{% include 'favicons.html' %}

</head>

<body>

<div id="wrapper" class="container">
	<header style="height: 70px;">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-md-push-6">
				{% block navbar %}
				<ul class="list-inline pull-right">
					<li><a href="https://www.facebook.com/groups/FairbanksNanowrimo" target="_blank">Facebook</a></li>
				</ul>
				{% endblock navbar %}
				{% if user.is_authenticated %}
				<div class="pull-right" style="clear:both;">Welcome, {{ user.username }}!</div>
				{% endif %}
			</div>
			<div class="col-sm-12 col-md-6 col-md-pull-6">
				
			</div>
		</div>
	</header>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'index' %}">{% block brand %}FairbanksNano{% endblock brand %}</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'chat:index' %}">Chat</a></li>
					{# <li><a href="/profiles">Profiles</a></li> #}
					<li><a href="{% url 'events' %}">Events</a></li>
					<li><a href="{% url 'contact:contact' %}">Contact Us</a></li>
					<li><a href="{% url 'links' %}">Links</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://nanowrimo.org/" target="_blank">NaNoWriMo</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'auth:logout' %}">Logout</a></li>
					{# <li><a href="{% url 'account_settings' %}">Account Settings</a></li> #}
					{% else %}
					<li><a href="{% url 'auth:login' %}">Login</a></li>
					<li><a href="{% url 'auth:register' %}">Register</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div id="site_content">
		{% if messages %}
		<div class="row">
			<div class="large-12 columns">
				{% for message in messages %}
				<div data-alert class="alert-box {{ message.tags }} radius" tabindex="0" aria-live="assertive" role="dialogalert">
					{{ message }}
					<button href="#" tabindex="0" class="close" aria-label="Close Alert">&times;</button>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}

		<div class="row">

			<div class="small-9 medium-10 columns">
				<h2>{% block header %}Home of the Writing Ravens{% endblock header %}</h2>
				{% block content %}{% endblock content %}
			</div>
		</div>
	</div>

	<footer>
		&copy; 2015 FairbanksNano. Site by Travis Veazey
		<a href="https://github.com/Kromey/fbxnano" target="_blank"><i class="fi-social-github"></i></a>.
		Your use of this site and its associated services constitutes acceptance
		of the
		<a href="{% url 'policies:terms_of_service' %}">Terms of Service</a>
		and
		<a href="{% url 'policies:privacy' %}">Privacy and Cookie Policy</a>.
	</footer>
</div>

{# Bootstrap requires JQuery #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{# Bootstrap JS at bottom so that it doesn't block page loading #}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>
