<!DOCTYPE html>
<html lang="en">
<head>
{# The following meta tags *must* come before all other head content #}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{# The preceding meta tags *must* come before all other head content #}

{% load static from staticfiles %}
{% load frontend_extras %}

<title>{% block title %}Alaska Writers{% endblock %}</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'octicons/octicons.css' %}">
<link rel="stylesheet" href="{% static 'css/site.css' %}">

{% include 'favicons.html' %}

</head>

<body>

{% include 'navbar.html' %}

{% if messages %}
<div id="alert-container" class="col-xs-6 col-sm-4 col-md-3">
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
		{% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
			{% octicon 'bug' 'Debug:' %}
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
			{% glyphicon 'comment' %}
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			{% glyphicon 'thumbs-up' 'Success:' %}
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			{% glyphicon 'eye-open' 'Warning:' %}
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			{% glyphicon 'fire' 'ERROR:' %}
		{% else %}
			{% glyphicon 'question-sign' %}
		{% endif %}
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">{% glyphicon 'remove-circle' %}</span>
		</button>
	</div>
	{% endfor %}
</div>
{% endif %}

<div class="container">
	<div id="site_content">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h2>{% block header %}Welcome to Alaska Writers{% endblock header %}</h2>
				{% block content %}{% endblock content %}
			</div>
		</div>
	</div>
</div>

<footer>
	&copy; 2015 Alaska Writers. Site by Travis Veazey
	<a href="https://github.com/Kromey/fbxnano" target="_blank">{% octicon 'mark-github' %}</a>.
	Icons by <a href="http://glyphicons.com/" target="_blank">Glyphicons</a>
	and <a href="https://octicons.github.com/" target="_blank">GitHub</a>.
	<br>
	Your use of this site constitutes acceptance
	of the
	<a href="{% url 'policies:terms_of_service' %}">Terms of Service</a>
	and
	<a href="{% url 'policies:privacy' %}">Privacy and Cookie Policy</a>.
</footer>

{# Bootstrap requires JQuery #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{# Bootstrap JS at bottom so that it doesn't block page loading #}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script type="text/javascript">
function launchCandy()
{
	newWin = window.open('{% url "chat:candy" %}', 'Candy', 'width=800,height=500');
	if(!newWin || newWin.closed || typeof newWin.closed=='undefined')
	{
		alert("Your browser has blocked the pop-up. Please allow pop-ups for this site.");
	}
}
</script>
</body>
</html>
