{% extends 'base.html' %}

{% block title %}
Alaska Writers Events
{% endblock title %}

{% block header %}
Alaska Writers Events
{% endblock header %}

{% block content %}
{# Note: May need to alter CSP to embed an iframe here #}
<div class="calendar">
	<div class="calendar-week">
		<div class="calendar-day">
			<span class="day-label">1</span>
			<div class="event">Foobar bad beef baz bax barrister</div>
			<div class="event">Foobar bad beef</div>
			<div class="event">Foobar bad beef</div>
		</div>
		<div class="calendar-day"><span class="day-label">2</span></div>
		<div class="calendar-day"><span class="day-label">3</span></div>
		<div class="calendar-day"><span class="day-label">4</span></div>
		<div class="calendar-day"><span class="day-label">5</span></div>
		<div class="calendar-day"><span class="day-label">6</span></div>
		<div class="calendar-day"><span class="day-label">7</span></div>
	</div>
	<div class="calendar-week">
		<div class="calendar-day">
			<span class="day-label">1</span>
			<div class="event">Foobar bad beef baz bax barrister</div>
			<div class="event">Foobar bad beef</div>
			<div class="event">Foobar bad beef</div>
		</div>
		<div class="calendar-day"><span class="day-label">2</span></div>
		<div class="calendar-day"><span class="day-label">3</span></div>
		<div class="calendar-day"><span class="day-label">4</span></div>
		<div class="calendar-day"><span class="day-label">5</span></div>
		<div class="calendar-day"><span class="day-label">6</span></div>
		<div class="calendar-day"><span class="day-label">7</span></div>
	</div>
	<div class="calendar-week">
		<div class="calendar-day">
			<span class="day-label">1</span>
			<div class="event">Foobar bad beef baz bax barrister</div>
			<div class="event">Foobar bad beef</div>
			<div class="event">Foobar bad beef</div>
		</div>
		<div class="calendar-day"><span class="day-label">2</span></div>
		<div class="calendar-day"><span class="day-label">3</span></div>
		<div class="calendar-day"><span class="day-label">4</span></div>
		<div class="calendar-day"><span class="day-label">5</span></div>
		<div class="calendar-day"><span class="day-label">6</span></div>
		<div class="calendar-day"><span class="day-label">7</span></div>
	</div>
	<div class="calendar-week">
		<div class="calendar-day">
			<span class="day-label">1</span>
			<div class="event">Foobar bad beef baz bax barrister</div>
			<div class="event">Foobar bad beef</div>
			<div class="event">Foobar bad beef</div>
		</div>
		<div class="calendar-day"><span class="day-label">2</span></div>
		<div class="calendar-day"><span class="day-label">3</span></div>
		<div class="calendar-day"><span class="day-label">4</span></div>
		<div class="calendar-day"><span class="day-label">5</span></div>
		<div class="calendar-day"><span class="day-label">6</span></div>
		<div class="calendar-day"><span class="day-label">7</span></div>
	</div>
	<div class="calendar-week">
		<div class="calendar-day">
			<span class="day-label">1</span>
			<div class="event">Foobar bad beef baz bax barrister</div>
			<div class="event">Foobar bad beef</div>
			<div class="event">Foobar bad beef</div>
		</div>
		<div class="calendar-day"><span class="day-label">2</span></div>
		<div class="calendar-day"><span class="day-label">3</span></div>
		<div class="calendar-day"><span class="day-label">4</span></div>
		<div class="calendar-day"><span class="day-label">5</span></div>
		<div class="calendar-day"><span class="day-label">6</span></div>
		<div class="calendar-day"><span class="day-label">7</span></div>
	</div>
</div>
{% endblock content %}
