{% extends 'base.html' %}

{% block content %}
<p>
Welcome!
</p>
<p>
AKWriters is a writers' community that owes its origins to <a href="http://nanowrimo.org/" target="_blank">National Novel Writing Month</a> and to the Fairbanks region, but which has grown beyond both of those to become a year-round community for the entire state and beyond.
</p>
<p>
Be sure to check out our new <a href="{% url 'forum:index' %}">forums</a>, and don't forget to take a look at our <a href="{% url 'resources' %}">book recommendations</a>. Then come join the conversation on our <a href="{% url 'chat:index' %}">chat server</a>!
</p>
{% endblock content %}
