{% extends 'base.html' %}

{% block content %}
<p>
Welcome!
</p>
<p>
Alaska Writers is a community-focused site and chat server that owes its origins to <a href="http://nanowrimo.org/" target="_blank">National Novel Writing Month</a> and to the Fairbanks region, but which has grown beyond both of those to become a year-round community for the entire state.
</p>
<p>
Currently, this website serves as the portal to the chat server, however eventually it will grow to be full-fledged community connecting writers all over the state.
</p>
{% endblock content %}
