{% extends 'base.html' %}

{% block content %}
<p>
Welcome!
</p>
<p>
Register on this site to join us on our chat server! Once you've activated your
account you can find instructions for connecting to the server under the "Chat"
link on the left (over <i class="fi-arrow-left"></i> there).
</p>
<h3>Changing "Soon"!</h3>
<p>
When I originally purchased the domain name fairbanksnano.org last year, the sole purpose at the time was to be a simple, easier-to-remember URL on our posters to help guide folks to the Fairbanks region's Facebook group.
</p>
<p>
Later, when I realized that I had the requisite knowledge to create an alternative to the abomination known as Skype, I grabbed the domain because I already had it, and it was relevant to this purpose. Only afterwards did I stop to think about it and realize that what I had wanted to do was to create a chat and community hub for all of Alaska, not just Fairbanks, and that unfortunately was not reflected in the domain name I was using. I'd also like to see it grow into a thriving year-round community, rather than one focused solely upon NaNoWriMo, though one that likewise would never forget its origins in this wonderful annual event.
</p>
<p>
To these ends, I want to "rebrand" the existing Fairbanks Nano site into one that is more inclusive in terms of both time and (relative dimensions in) space. But I'd like to get your input as well, since my goal is not to create a website that is "mine", but a community that is "ours".
</p>
<p>
Therefore, I have created a short online poll with some suggestions for a new name for the site, or for you to provide your own suggestions. Please <a href="http://goo.gl/forms/QVTQ233T88" target="_blank">cast your vote</a> for what you'd like our second online home to be called.
</p>
{% endblock content %}
