{% load frontend_extras %}
<li><a href="http://nanowrimo.org/" target="_blank">{% octicon 'pencil' %} NaNoWriMo</a></li>

<li role="separator" class="divider"></li>
<li class="dropdown-header">Useful Articles</li>
<li><a href="http://www.writinghope.com/31-days-of-nano-prep/" target="_blank">31 Days Of Nano Prep</a></li>
<li><a href="https://kromey.us/2013/11/backing-up-your-stories-with-scrivener-and-dropbox-599.html" target="_blank">Backup Your Stories With Scrivener and Dropbox</a></li>

<li role="separator" class="divider"></li>
<li class="dropdown-header">Generators &amp; Ideas</li>
<li><a href="http://www.scifiideas.com/" target="_blank">SciFi Ideas</a></li>
<li><a href="http://www.seventhsanctum.com/" target="_blank">Seventh Sanctum</a></li>
<li><a href="http://writeordie.com/" target="_blank">Write or Die 2</a></li>
<li><a href="http://worldbuilding.stackexchange.com/" target="_blank">World Building Q&amp;A</a></li>
<li><a href="http://donjon.bin.sh/" target="_blank">donjon RPG Tools</a></li>
