{% extends 'base.html' %}

{% block title %}
Helpful Links
{% endblock title %}

{% block header %}
Helpful Links
{% endblock header %}

{% block content %}
<p>
<h3>Useful Articles</h3>
<ul>
	<li><a href="http://www.writinghope.com/31-days-of-nano-prep/" target="_blank">31 Days Of Nano Prep</a></li>
	<li><a href="https://kromey.us/2013/11/backing-up-your-stories-with-scrivener-and-dropbox-599.html" target="_blank">Backup Your Stories With Scrivener and Dropbox</a></li>
</ul>

<h3>Generators and Ideas</h3>
<ul>
	<li><a href="http://www.scifiideas.com/" target="_blank">SciFi Ideas</a></li>
	<li><a href="http://www.seventhsanctum.com/" target="_blank">Seventh Sanctum</a></li>
	<li><a href="http://writeordie.com/" target="_blank">Write or Die 2</a></li>
	<li><a href="http://worldbuilding.stackexchange.com/" target="_blank">World Building Q&amp;A</a></li>
</ul>
</p>
{% endblock content %}
