{% load frontend_extras %}
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'index' %}">AKWriters</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">{% octicon 'organization' %} Community <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'chat:index' %}">{% octicon 'comment-discussion' %} Chat</a></li>
						<li><a href="{% url 'forum:index' %}">{% octicon 'book' %} Forum</a></li>
						{# <li><a href="/profiles">Profiles</a></li> #}
						<li><a href="{% url 'events:index' %}">{% octicon 'calendar' %} Events</a></li>
						<li><a href="{% url 'contact:contact' %}">{% octicon 'mail' %} Contact Us</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">{% octicon 'link' %} Links <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% include 'links.html' %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">{% octicon 'beaker' %} Resources <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'tools:character_list' %}">{% octicon 'gist-secret' %} Characters</a></li>
						<li><a href="{% url 'resources' %}">{% octicon 'repo' %} Recommended Books</a></li>
					</ul>
				</li>
				{% if user.is_authenticated %}
				<li>
					<button type="button" class="btn btn-info navbar-btn" data-popup-uri="{% url 'chat:nabu' %}">{% octicon 'comment-discussion' %} Join Chat</button>
				</li>
				{% endif %}
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">{% octicon 'person' %} {{ user.username }} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% if user.is_superuser %}
						<li><a href="{% url 'admin:index' %}">{% octicon 'database' %} Admin</a></li>
						{#<li><a href="{% url 'events:purge' %}">{% octicon 'zap' %} Clear Event Cache</a></li>#}
						<li role="separator" class="divider"></li>
						{% endif %}
						{#<li><a href="{% url 'account:settings' %}">{% glyphicon 'cog' %} Account Settings</a></li>#}
						<li>
							<a href="{% url 'auth:apppasswords' %}">{% octicon 'shield' %} App Passwords <span class="badge">{{ user.apppassword_set.count }}</span></a>
						</li>
						<li role="separator" class="divider"></li>
						<li><a href="{% url 'auth:logout' %}">{% octicon 'sign-out' %} Logout</a></li>
					</ul>
				</li>
				{% else %}
				<li><a href="{% url 'auth:login' %}">{% octicon 'sign-in' %} Login</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
