{% extends 'base.html' %}

{% block title %}Books &amp; Etc.{% endblock title %}
{% block header %}Books &amp; Etc.{% endblock header %}

{% block content %}
<div class="panel panel-info panel-resources">
	<div class="panel-heading">
		Whether you're just starting out or are already a prolific novelist,
		everyone still has something to learn about the writing process. These
		books offer numerous insights useful to budding and seasoned writers
		alike.
	</div>
	<div class="panel-body">
		{# How To Write Science Fiction and Fantasy #}
		<a href="https://www.amazon.com/gp/product/158297103X/ref=as_li_ss_il?pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-4&pf_rd_r=SKFE9REPMS6X0483JWYR&pf_rd_t=101&pf_rd_p=16fdd096-6053-50d6-92f5-0a9cd4ba9a54&pf_rd_i=12053&linkCode=li2&tag=akwriters-20&linkId=03cfb9591b02a8358f4af3f0dd99860e" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=158297103X&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=akwriters-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=akwriters-20&l=li2&o=1&a=158297103X" width="1" height="1" border="0" alt="" />

		{# Idiot's Guide to Writing a Novel #}
		<a href="https://www.amazon.com/Complete-Idiots-Writing-Lifestyle-Paperback/dp/1615640339/ref=as_li_ss_il?ie=UTF8&qid=1507569500&sr=8-1&keywords=idiot's+guide+to+writing+a+novel&linkCode=li2&tag=akwriters-20&linkId=55fc856c0b18871ed4a3588b02bbbd8a" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1615640339&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=akwriters-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=akwriters-20&l=li2&o=1&a=1615640339" width="1" height="1" border="0" alt="" />

		{# No Plot? No Problem #}
		<a href="https://www.amazon.com/Plot-Problem-Revised-Expanded-High-velocity-ebook/dp/B00JVZ42HM/ref=as_li_ss_il?ie=UTF8&qid=1507569539&sr=8-2&keywords=nanowrimo&linkCode=li2&tag=akwriters-20&linkId=2957d6a94b6f8fb5a5e154ed42ba4ebf" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00JVZ42HM&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=akwriters-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=akwriters-20&l=li2&o=1&a=B00JVZ42HM" width="1" height="1" border="0" alt="" />
	</div>
</div>

<div class="panel panel-info panel-resources">
	<div class="panel-heading">
		Feel the need to make your characters more complete? These books each
		offer a host of different descriptors -- good, bad, and ugly -- along
		with descriptions of how they might be shown, why a character may have
		them, and what they might mean to your character's development.
	</div>
	<div class="panel-body">
		{# Emotion Thesaurus #}
		<a href="https://www.amazon.com/Emotion-Thesaurus-Writers-Character-Expression/dp/1475004958/ref=as_li_ss_il?ie=UTF8&qid=1507567424&sr=8-1&keywords=emotions+thesaurus&linkCode=li2&tag=akwriters-20&linkId=337598fde0e258d1fcb3d42ac7a8e842" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1475004958&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=akwriters-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=akwriters-20&l=li2&o=1&a=1475004958" width="1" height="1" border="0" alt="" />

		{# Negative Trait Thesaurus #}
		<a href="https://www.amazon.com/Negative-Trait-Thesaurus-Writers-Character/dp/0989772500/ref=as_li_ss_il?_encoding=UTF8&psc=1&refRID=751N4H59VG5Y0SR5F57R&dpID=51STX7MSDvL&preST=_SY291_BO1,204,203,200_QL40_&dpSrc=detail&linkCode=li2&tag=akwriters-20&linkId=4e4b6934e35787e05dd06da2cf1faf0f" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0989772500&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=akwriters-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=akwriters-20&l=li2&o=1&a=0989772500" width="1" height="1" border="0" alt="" />

		{# Positive Trait Thesaurus #}
		<a href="https://www.amazon.com/Positive-Trait-Thesaurus-Character-Attributes/dp/0989772519/ref=as_li_ss_il?_encoding=UTF8&psc=1&refRID=2QWKT696CQ3SQDKF8AJT&dpID=515LR5MMoxL&preST=_SY291_BO1,204,203,200_QL40_&dpSrc=detail&linkCode=li2&tag=akwriters-20&linkId=abbf20427728a41de2d6a2abe2381590" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0989772519&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=akwriters-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=akwriters-20&l=li2&o=1&a=0989772519" width="1" height="1" border="0" alt="" />

		{# Emotion Amplifiers #}
		<a href="https://www.amazon.com/Emotion-Amplifiers-Angela-Ackerman-ebook/dp/B00QMLW34M/ref=as_li_ss_il?ie=UTF8&linkCode=li2&tag=akwriters-20&linkId=8a662c4308953e0116311ebadf044d06" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00QMLW34M&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=akwriters-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=akwriters-20&l=li2&o=1&a=B00QMLW34M" width="1" height="1" border="0" alt="" />
	</div>
</div>

<div class="panel panel-info panel-resources">
	<div class="panel-heading">
		For you worldbuilders out there, or those who want to become
		worldbuilders, I've found no books more insightful than these from Mark
		Rosenfelder. If all you need is a world, The Planet Construction Kit is
		all you need, but if you want to go all out and at least come to
		understand what languages exist in your world (or even start to create
		them!), the others are invaluable!
	</div>
	<div class="panel-body">
		{# Planet Construction Kit #}
		<a href="https://www.amazon.com/Planet-Construction-Kit-Mark-Rosenfelder/dp/0984470034/ref=as_li_ss_il?ie=UTF8&qid=1507568492&sr=8-3&keywords=world+construction+kit&linkCode=li2&tag=akwriters-20&linkId=58bb8bcb48acc76cd393f5d1ea1c4ad4" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0984470034&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=akwriters-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=akwriters-20&l=li2&o=1&a=0984470034" width="1" height="1" border="0" alt="" />

		{# Language Construction Kit #}
		<a href="https://www.amazon.com/Language-Construction-Kit-Mark-Rosenfelder/dp/098447000X/ref=as_li_ss_il?_encoding=UTF8&psc=1&refRID=5K8N28142WVK86WJY009&dpID=51Bo9INaZqL&preST=_SY291_BO1,204,203,200_QL40_&dpSrc=detail&linkCode=li2&tag=akwriters-20&linkId=d0bac82c7d21b2a8ffc38998a5122733" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=098447000X&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=akwriters-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=akwriters-20&l=li2&o=1&a=098447000X" width="1" height="1" border="0" alt="" />

		{# Advanced Language Construction Kit #}
		<a href="https://www.amazon.com/Advanced-Language-Construction-Mark-Rosenfelder/dp/1478267534/ref=as_li_ss_il?_encoding=UTF8&psc=1&refRID=ZWWQC4VEJA3FPMKN4EHT&dpID=51yWO6HoCuL&preST=_SY291_BO1,204,203,200_QL40_&dpSrc=detail&linkCode=li2&tag=akwriters-20&linkId=0c9b67c35704eac186355f8cd35cdd56" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1478267534&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=akwriters-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=akwriters-20&l=li2&o=1&a=1478267534" width="1" height="1" border="0" alt="" />

		{# Conlanger's Lexipedia #}
		<a href="https://www.amazon.com/Conlangers-Lexipedia-Mark-Rosenfelder/dp/1493733001/ref=as_li_ss_il?_encoding=UTF8&psc=1&refRID=CHYB1YWVBAEE4XYX6HH0&dpID=41LEvxIH%252BkL&preST=_SY291_BO1,204,203,200_QL40_&dpSrc=detail&linkCode=li2&tag=akwriters-20&linkId=beac9bf5777508c2326ed006d62405df" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1493733001&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=akwriters-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=akwriters-20&l=li2&o=1&a=1493733001" width="1" height="1" border="0" alt="" />
	</div>
</div>
{% endblock content %}
