{% extends 'base.html' %}
{% load form_extras %}

{% block header %}
Contact Us
{% endblock header %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<form action="" method="post">
			{% csrf_token %}
			{{ form.username }}
			{{ form.ip_address }}
			{% bs_field form.email 'envelope' %}
			{% bs_field form.reason 'tag' %}
			{% bs_field form.subject 'info-sign' %}
			{% bs_field form.message 'pencil' %}
			{% bs_field form.captcha %}
			<button type="submit" class="btn btn-success">Send</button>
		</form>
	</div>
</div>
{% endblock content %}
