{% extends 'base.html' %}

{% block header %}
Contact Us
{% endblock header %}

{% block content %}
<div class="row">
	<div class="large-6 columns">
		<div class="contact-panel">
			<form action="" method="post">
				{% csrf_token %}
				{{ form.username }}
				{{ form.ip_address }}
				<div class="row collapse">
					<div class="small-2  columns">
						<span class="prefix"><i class="fi-flag"></i></span>
					</div>
					<div class="small-10  columns {% if form.reason.errors %}error{% endif %}">
						{{ form.reason }}
						{% if form.reason.errors %}<small class="error">{{ form.reason.errors }}</small>{% endif %}
					</div>
				</div>
				<div class="row collapse">
					<div class="small-2  columns">
						<span class="prefix"><i class="fi-mail"></i></span>
					</div>
					<div class="small-10  columns {% if form.email.errors %}error{% endif %}">
						{{ form.email }}
						{% if form.email.errors %}<small class="error">{{ form.email.errors }}</small>{% endif %}
					</div>
				</div>
				<div class="row collapse">
					<div class="small-2  columns">
						<span class="prefix"><i class="fi-info"></i></span>
					</div>
					<div class="small-10  columns {% if form.subject.errors %}error{% endif %}">
						{{ form.subject }}
						{% if form.subject.errors %}<small class="error">{{ form.subject.errors }}</small>{% endif %}
					</div>
				</div>
				<div class="row collapse">
					<div class="small-2  columns">
						<span class="prefix"><i class="fi-list"></i></span>
					</div>
					<div class="small-10  columns {% if form.message.errors %}error{% endif %}">
						{{ form.message }}
						{% if form.message.errors %}<small class="error">{{ form.message.errors }}</small>{% endif %}
					</div>
				</div>
				<button type="submit" class="button">Register!</button>
				<p>Already have an account? <a href="{% url 'auth:login' %}">Login here &raquo;</a></p>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
