{% extends 'base.html' %}
{% load form_extras %}

{% block header %}
Contact Us
{% endblock header %}

{% block content %}
<div class="row">
	<div class="large-6 columns">
		<div class="contact-panel">
			<form action="" method="post">
				{% csrf_token %}
				{{ form.username }}
				{{ form.ip_address }}
				{% fi_field form.email 'mail' %}
				{% fi_field form.reason 'flag' %}
				{% fi_field form.subject 'info' %}
				{% fi_field form.message 'pencil' %}
				{% fi_field form.captcha %}
				<button type="submit" class="button">Send</button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
