{% extends 'base.html' %}

{% block title %}
Privacy and Cookie Policy
{% endblock title %}

{% block header %}
Privacy and Cookie Policy
{% endblock header %}

{% block content %}
<p>
This website does not share personal information with third parties, nor do we store any information about your visit to this website beyond what you provide for your user profile.
</p>
<p>
This website employs the use of cookies &mdash; small text files stored on your computer &mdash; only as is strictly necessary for basic site function, for example to remember that you are logged in. While you can always disable cookies in your browser settings, doing so will render you unable to log in. We do not use tracking cookies, nor any third-party cookies.
</p>
<p>
We are not responsible for republished content from this website on other blogs or websites without our permission.
</p>
<p>
This privacy policy is subject to change without notice and was last updated on 12 October 2015. If you have any questions feel free to contact us.
</p>
{% endblock content %}
