{% extends 'base.html' %}

{% block title %}
Terms of Service
{% endblock title %}

{% block header %}
Terms of Service
{% endblock header %}

{% block content %}
<p>
By using this site and its associated services, you agree to respect both the
community and the services provided by me to it.
</p>
<p>
You don't have to be an annointed saint or have passed the world's greatest
finishing school with the highest possible marks, but you do need to treat other
users with respect, and to use the services provided responsibly. This includes
avoiding content that others may find offensive, including, but not limited to,
profanity and pornography.
</p>
<p>
Since the nature of what is and is not acceptable is inherently subjective, and
since I have not hired a lawyer to spell out in impenetrable legalese exactly
where that line is drawn here, in all but the most egregious breaches of the
"community norms" you can expect to first be warned before any more punitive
measures are taken.
</p>
<p>
Despite the informal nature of this Terms of Service agreement, I reserve the
right to suspend or revoke your access to this site and any or all of its
associated services for any reason whatsoever. I don't want to have to do that,
though, so please don't make me.
</p>
{% endblock content %}
